{% extends "base.html" %}

{% block content %}
  <h1>Model: {{ car.model }}</h1>
  <p>Manufacturer: {{ car.manufacturer.name }}</p>

  <div class="d-flex justify-content-between align-items-center mb-4">
    <div class="btn-group">
        <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary">Update</a>
        <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger">Delete</a>
    </div>

    {% if user in car.drivers.all %}
      <a href="{% url 'taxi:toggle-car-assign' pk=car.id %}" class="btn btn-danger">
        Delete me from this car
      </a>
    {% else %}
      <a href="{% url 'taxi:toggle-car-assign' pk=car.id %}" class="btn btn-success">
        Assign me to this car
      </a>
    {% endif %}
  </div>

  <h2>Drivers</h2>
  <ul>
      {% for driver in car.drivers.all %}
          <li>
              <a href="{% url 'taxi:driver-detail' pk=driver.id %}">
                {{ driver.username }} ({{ driver.first_name }} {{ driver.last_name }})
              </a>
          </li>
      {% empty %}
          <p>No drivers assigned.</p>
      {% endfor %}
  </ul>
{% endblock %}
