{% extends "base.html" %}

{% block content %}
  <h1>Username: {{ driver.username }}</h1>
  <p><strong>First name:</strong> {{ driver.first_name }}</p>
  <p><strong>Last name:</strong> {{ driver.last_name }}</p>
  <p><strong>License number:</strong> {{ driver.license_number }}</p>

  <div class="btn-group mt-3">
      <a href="{% url 'taxi:driver-update-license' pk=driver.id %}" class="btn btn-secondary">
          Update License
      </a>
      <a href="{% url 'taxi:driver-delete' pk=driver.id %}" class="btn btn-danger">
          Delete
      </a>
  </div>
  
  <h2 class="mt-4">Cars</h2>
  {% endblock %}
  